<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
    <h1>Team Name: <%=@team_name%></h1>
    <p>Coach: <%=@coach_name%><br>
    Point Guard: <%=@pg_name%><br>
    Shooting Guard: <%=@sg_name%><br>
    Small Forward: <%=@sf_name%><br>
    Power Forward: <%=@pf_name%><br>
    Center: <%=@c_name%><br>
    </p>
 </body>
</html>


